[Unit]
Description=Run Port Trapper every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=port-trapper.service

[Install]
WantedBy=timers.target
